.cart{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
    
  }
  .cart h1{
    box-shadow: 0 0  15px rgba(0,0,0,0.75);
    background-color: black;
    color: white;
    padding: 5px 30px;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    margin-top: 50px;
    border:1px solid #ccc;
  }
   .cart .cartItems{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    padding: 20px 10px;
    border-radius: 1%;
  }
  .outPut{
  border-radius: 5px;
  padding: 5px;
  flex-wrap: wrap;

  }
  .outPut p{
    font-weight: bold;
    justify-content: flex-end;
    padding: 1px 20px;
    
  }
  .outPut .checkOut{
   padding: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   flex-direction: row;
   gap: 20px;
  }
  .checkOut button{
    background-color: black;
    color: white;
    font-weight: bold;
    box-shadow: 0 0  7px rgba(0,0,0,0.25);
   cursor: pointer;
  }
  .checkOut button:hover{
    background-color: #ccc;
    color: black;
    border: 1px solid black;
  }